.diversos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lista__diversos {
  display: flex;
  margin-bottom: 2%;
  gap: 10px;
}

.lista__diversos li {
  margin-left: 1rem;
}

.diverso__preco {
  font-weight: 700;
}

.diverso__ver {
  color: #2a7ae4;
  font-weight: 700;
}

@media (max-width: 768px) {
  .lista__diversos {
    flex-wrap: wrap;
    justify-content: center;
    height: 225px;
    overflow: hidden;
  }
}

@media (max-width: 360px) {
  .lista__diversos {
    height: 460px;
  }
  .lista__diversos img {
    width: 156px;
  }
}
