.topo__diversos {
  display: flex;
  justify-content:space-between;
  align-content: baseline;
  flex-direction: row;
  padding-left: 8.7rem;
  padding-right: 7.7rem;
  margin-top: 2rem;
  margin-bottom: 1rem;

}

.topo__diversos .topo__diversos--titulo {
  font-family: var(--raleway);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: #464646;
}

.topo__diversos--botao {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #2A7AE4;
  font-weight: 700;
}
