.consoles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lista__consoles {
  display: flex;
  margin-bottom: 2%;
  gap: 10px;
}

.lista__consoles li {
  margin-left: 1rem;
}

.console__preco {
  font-weight: 700;
}

.console__ver {
  color: #2a7ae4;
  font-weight: 700;
}

@media (max-width: 768px) {
  .lista__consoles {
    flex-wrap: wrap;
    justify-content: center;
    height: 225px;
    overflow: hidden;
  }
}

@media (max-width: 360px) {
  .lista__consoles {
    height: 460px;
  }
  .lista__consoles img {
    width: 156px;
  }
}
