.consoles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
  
}

.lista__consoles {
  display: flex;
  gap: 10px;
}

.lista__consoles li {
  margin-left: 1rem;
}


.console__preco{
  font-weight: 700; 

}

.console__ver{
  color: #2A7AE4;
  font-weight: 700;
}
