.linha-consoles {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  gap: 16px;

  height: 306px;
}

@media (max-width: 360px) {
  .linha-consoles{

   height: 550px;

  }
}