.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
background-color: #ffffff;

 


}



@media (max-width: 360px){


  .nav__container{
    width: 360px;
    align-items: center;
 justify-content: space-between;

  }


}