.container-sessao{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdf9f9;
    height: 400px;
    

}

.sessao__formulario{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

}

.sessao__email{
    width: 423px;
    height: 43px;
   
}

.sessao__senha{
    width: 423px;
    height: 43px;
}

.sessao__botao {
    width: 431px;
    height: 46px;
    background-color: #2A7AE4;
    margin-top: 0.4rem;
    color: white;
}
