.container-fale-conosco {
    display: flex;
    flex-direction: row;
    background-color: #EAF2FD;
    background-size:contain;
    justify-content: space-around;
    align-items: center;    
    height: 368px;
}

.fale-conosco__formulario{
    display: flex;
    flex-direction: column;
    
    
}

.container-fale-conosco .footer-logo {
   align-self: flex-start;
    padding-top: 4rem;
}


.fale-conosco {
    display: flex;
    flex-direction: column;

    height: 240px;
  
}

.fale__conosco--titulo {
    font-family: --raleway;
    font-weight: 700;
    font-size: 1rem;
    line-height: 18.78px;
    margin-bottom: 0.5rem;
}

.fale__conosco--nome {
    width: 560px;
    height: 56px;
    gap: 8px;
    margin-bottom: 0.5rem;
    
}

.fale__conosco--mensagem {
    width: 560px;
    height: 82px;
    gap: 8px;
    margin-bottom: 0.5rem;
}

.fale__conosco--botao {
    width: 165px;
    height: 51px;
    padding: 16px;

    background-color: #2A7AE4;
    font-family: --raleway;
    color: white;
    font-weight: 400;
    size: 1rem;
    line-height: 18.78px;

}