.container-footer {
    display: flex;
    flex-direction: column;
  
   
         
}

@media (max-width: 360px) {
    .container-footer{
     flex-direction: column;
     justify-content: center;
 

    }
  
    
  }
  