.produtos {
  display: flex;
flex-direction: row;
justify-content: space-around;

  
}

.lista__produtos {
  display: flex;
  margin-bottom: 2%;
  gap: 10px;
}

.lista__produtos li{
  margin-left: 1rem;
}

.produto__preco{
  font-weight: 700; 
  

}

.produto__ver{
  color: #2A7AE4;
  font-weight: 700;
}

