.banner {
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: self-start;

  background-image: url('/assets/images/banner-image.png');

  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
}
