.banner__titulo {
  font-family: var(--raleway);
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;
  color: white;

}


  @media (max-width: 360px){



    .banner__titulo{
      display: flex;

      align-items: center;
     font-size: 22px;   
      
    }
    }
  