.banner__descricao {
  font-family: var(--raleway);
  font-size: 22px;
  color: white;
  line-height: 26px;
  
}


@media (max-width: 360px){



  .banner__descricao{

   font-size: 14px;   
   


    
  }
  }
