.container-diversos {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f5f5f5;
}

.diverso-unitario {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 560px;
  margin-top: 3rem;
}

.linha__diversos {
  margin-bottom: 2rem;
}

.imagem-container__unitario {
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
  width: 560px;
  height: 403px;
}

.imagem-container__unitario img {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0.5rem;
  width: 560px;
  height: 403px;
}

.diverso__dados {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 560px;
  height: 210px;
  margin-left: 0.5rem;
}

.diverso__dados p:nth-child(1) {
  font-size: 20px;
  color: #464646;
}

.diverso__dados p:nth-child(2) {
  font-size: 52px;
  font-weight: bold;
  color: #464646;
}

.diverso__dados p:nth-child(3) {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.7px;
  color: #464646;
}

.lista__diversos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.topo__diversos--titulo {
  font-family: --raleway;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: #464646;
}

.botao-voltar {
  width: 95px;
  height: 33px;
  background-color: #2a7ae4;
  color: white;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .diverso-unitario {
    width: 762px;
    height: 221px;
    justify-content: space-around;
  }

  .imagem-container__unitario {
    width: 264px;
    height: 157px;
  }

  .imagem-container__unitario img {
    width: 250px;
    height: 152px;
  }

  .diverso__dados {
    height: 155px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .diverso__dados p:nth-child(1) {
    font-size: 20px;
    color: #464646;
  }

  .diverso__dados p:nth-child(2) {
    font-size: 32px;
    font-weight: 500;
  }

  .lista__diversos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    height: 230px;
  }

  .topo__diversos--titulo {
    padding: 1rem;
  }
}

@media (max-width: 360px) {

  .diverso-unitario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 320px;
  }

  .diverso__dados {
    width: 360px;
    height: 121px;
  }

  .diverso__dados p {
    font-size: 14px;
  }

  .imagem-container__unitario {
    width: 360px;
  }

  .imagem-container__unitario img {
    width: 350px;
    height: 192px;
  }

  .lista__diversos {
    height: 465px;
  }

  .lista__diversos img {
    width: 156px;
  }
}
