.container-adicionar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
}

.adicionar-produto__formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 8px;
  margin-top: 2rem;
}

.adicionar-produto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.adicionar__titulo {
    margin-bottom: 0;
  
}

.adicionar__url {
  width: 423px;
  height: 50px;
}

.adicionar__categoria {
  width: 423px;
  height: 50px;
}

.adicionar__produto {
  width: 423px;
  height: 50px;
}

.adicionar__preco {
  width: 423px;
  height: 50px;
}

.adicionar__descricao {
  width: 423px;
  height: 82px;
  border-radius: 4px;
}

.adicionar__botao {
  width: 431px;
  height: 60px;
  background-color: #2a7ae4;
  color: white;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.adicionar__botao:hover {
  cursor: pointer;
}
.botao-voltar {
  width: 95px;
  height: 39px;
  background-color: #2A7AE4;
  color: white;
  border-radius: 8px;
}

.botao-voltar:hover {
  cursor: pointer;
}
.botoes-direcionar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
}


@media (max-width: 360px) {

.botao-voltar{
  width: 60px;
  height: 30px;
  font-size: 10px;
}

.adicionar-produto{

  width: 360px;
}

.adicionar-produto__formulario{
  width: 350px;
}

.adicionar__url{
  width: 328px;
  height: 48px;
}

.adicionar__categoria{
  width: 328px;
  height: 48px;
}

.adicionar__produto{
  width: 328px;
  height: 48px;
}

.adicionar__preco{
  width: 328px;
  height: 48px;
}

.adicionar__descricao{
  width: 328px;
  
}

.adicionar__botao {
  width: 328px;
}


}