.cabecalho__container {
   
    height: 100px; 
   
  } 

  .navbar {
    
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav__container{
    display: flex;
    align-items: center;
  }
  
  .nav-logo__pesquisar {
    display: flex;
    justify-content: center;
    height: 40px;
 
  }
  


  .container-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    background-color: rgb(237, 241, 245);
  }
  
  .produto-unitario {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    height: 560px;
    margin-top: 3rem;
  }
  
  .linha__produtos {
    margin-bottom: 2rem;
  }
  
  .imagem-container__unitario {
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    width: 560px;
    height: 403px;
  }
  
  .imagem-container__unitario img {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5rem;
    width: 560px;
    height: 403px;
  }
  
  .produto__dados {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 560px;
    height: 210px;
    margin-left: 0.5rem;
  }
  
  .produto__dados p:nth-child(1) {
    font-size: 20px;
    color: #464646;
  }
  
  .produto__dados p:nth-child(2) {
    font-size: 52px;
    font-weight: bold;
    color: #464646;
  }
  
  .produto__dados p:nth-child(3) {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.7px;
    color: #464646;
  }
  
  .lista__produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  
  .topo__produtos--titulo {
    font-family: --raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    color: #464646;
  }
  
  
.botao-voltar {
  width: 95px;
  height: 33px;
  background-color: #2A7AE4;
  color: white;
  border-radius: 8px;
  margin-top: 0.2rem;
}

  
.botao-menu {
  width: 95px;
  height: 33px;
  background-color: #2A7AE4;
  color: white;
  border-radius: 8px;
 
  margin-top: 1rem;
}



@media (max-width: 768px){

.produto-unitario{
  width: 762px;
  height: 221px;
 justify-content: space-around;
}

  .imagem-container__unitario {
    width: 264px;
    height: 157px;
  }

  .imagem-container__unitario img {
    width: 250px;
    height: 152px;
  }

  .produto__dados{
    height: 155px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .produto__dados p:nth-child(1) {
    font-size: 20px;
    color: #464646;
  }
  
  .produto__dados p:nth-child(2) {
    font-size: 32px;
    font-weight: 500;
   
  }
  

  }


  @media (max-width: 360px){

    .cabecalho__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
          
     
      align-items: center;
      height: 72px;
    }

    .icone-lupa {
      display: flex;
    }

    
    .navbar{
      display: flex;
 justify-content: center;
      align-items: center;
    }

    .produto-unitario{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 360px;
      height: 320px;
      
    }

    .produto__dados {
      width: 360px;
      height: 121px;
    }

    .produto__dados p {
      font-size: 14px;
    }

    .imagem-container__unitario {
      width: 360px;

    }

    .imagem-container__unitario img  {
      width: 350px;
      height: 192px;
      
    }
  }
