.linha-diversos{
    display: flex;
    flex-direction: row;
    justify-content: center;


}   



.lista__diversos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

}
