.todos-produtos{
    display: flex;
    flex-direction: row;

  justify-content: center;

}


.lista__produtos {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.produto__imagem{
    display: flex;
  padding: 0 0.5rem 0 0.5rem;
}

.produto__nome{
    display: flex;
  padding: 0 0.5rem 0 0.5rem;
}

.produto__preco{
    display: flex;
  padding: 0 0 0 0.5rem;
}